<nav class="navbar-container">
  <div class="system-title">Employee Task Management System</div>

  <div class="navbar-buttons">
    <span *ngIf="authService.isLoggedIn()" class="welcome-text">
      Welcome, {{ authService.name() }}
    </span>

    <button *ngIf="!authService.isLoggedIn()" class="btn btn-outline-light btn-sm" (click)="onLogin()">Login</button>
    <button *ngIf="authService.isLoggedIn()" class="btn btn-outline-danger btn-sm" (click)="onLogout()">Logout</button>
  </div>
</nav>