.content-wrapper {
  display: flex;
  margin-top: 70px;
}

.sidebar {
  width: 220px;
  min-height: calc(100vh - 120px);
  background-color: #2e7d32;
  transition: all 0.3s;
}

.sidebar.collapsed {
  margin-left: -220px;
}

.sidebar .nav-link.active-link {
  background-color: #81c784;
  border-radius: 4px;
}


.main-content {
  flex-grow: 1;
  background-color: #f4f9f4;
  min-height: calc(100vh - 120px);
  padding: 20px;
  transition: margin-left 0.3s;
}


.footer-container {
  background-color: #388e3c;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}


@media (max-width: 768px) {
  .content-wrapper {
    margin-top: 10px;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    min-height: 0;
  }

  .sidebar.collapsed {
    margin-left: -100%;
  }

  .main-content {
    margin-left: 0;
    margin-top: 20px;
  }
}