<div class="container my-4" *ngIf="user">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="profile-card shadow p-4 rounded">
        <h2 class="profile-title mb-4 text-success">My Profile</h2>

        <div class="profile-item">
          <span class="label">Employee ID:</span>
          <span class="value">{{ user.rp_EmployeeID }}</span>
        </div>

        <div class="profile-item">
          <span class="label">Name:</span>
          <span class="value">{{ user.rp_Name }}</span>
        </div>

        <div class="profile-item">
          <span class="label">Email:</span>
          <span class="value">{{ user.rp_Email }}</span>
        </div>

        <div class="profile-item">
          <span class="label">Department:</span>
          <span class="value">{{ user.rp_Department }}</span>
        </div>

        <div class="profile-item">
          <span class="label">Joining Date:</span>
          <span class="value">{{ user.rp_Joining_Date | date:'yyyy-MM-dd' }}</span>
        </div>

        <div class="profile-item">
          <span class="label">Role:</span>
          <span class="value">{{ user.rp_Role }}</span>
        </div>

      </div>
    </div>
  </div>
</div>